<a href="https://colab.research.google.com/github/marcos-code/Mod-4-Introdu-o-ML/blob/main/Regress%C3%A3o_Linear_M%C3%BAltipla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Regressão Linear Múltipla 
o raciocício usadado é exatamente o mesmo que vimos com a anterior. A diferença é que temos mais variáveis independentes para considerar o nosso modelo.

In [10]:
# importando os pacotes necessários
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

# importando aquivo
df = pd.read_csv("http://dl.dropboxusercontent.com/s/gc1rm540g4i670n/precificacao_housing_plus.csv?dl=1")

# ver as primeiras entradas
df.drop('Id', axis=1, inplace=True)
df.head()

   MSSubClass  LotArea  OverallQual  ...  MoSold  YrSold  SalePrice
0          60     8450            7  ...       2    2008     208500
1          20     9600            6  ...       5    2007     181500
2          60    11250            7  ...       9    2008     223500
3          70     9550            7  ...       2    2006     140000
4          60    14260            8  ...      12    2008     250000

[5 rows x 34 columns]

Exatamente a mesma maneira, vou dividir os dados entre teste-treino, construir o modelo e executar o método fit(X_train, y_train)

In [12]:
# 1. Escolher e importar um modelo
from sklearn.linear_model import LinearRegression

# 2. Escolher os hyperparameters
model = LinearRegression()

# 3. Separar os dados entre features matrix e target vector - mas atenção com 1 feature (reshape)
X = df.drop('SalePrice', axis=1)
y = df['SalePrice']

# Dividir o dataset entre treino e teste
X_train, X_test, y_train, y_test = train_test_split(X,y)

# 4. Fit do modelo (treinar)
model.fit(X_train, y_train)

# 5. Fazer precisões em cima de novos dados
y_pred = model.predict(X_test)

Dê uma paradinha agora e compare com o exemplo da Regressão Linear Simples. Qual a diferença?

Quando tentamos passar uma única feature, era passada uma estrutura de apenas uma dimensão, o que fazia o scikit-learn a dar um erro. No entanto, quando usamos mais de uma feature, já temos objetos de duas dimensões sem a necessidade de redimensionar. Veja os prints abaixo para ver as dimensões de cada variável nossa e comparar com o exemplo anterior.

In [13]:
print("df:\t\t",df.shape)

print("X:\t\t",X.shape)

print("y:\t\t", y.shape)

df:		 (1460, 34)
X:		 (1460, 33)
y:		 (1460,)

Se na Regressão Linear Simples tínhamos apenas um coeficiente e um intercepto, agora temos um coeficiente para cada variável. Para obtermos os coeficientes de regressão e o intercept, podemos acessar os atributos do modelo diretamente da variável ml_model.

In [14]:
# imprimir os coeficientes
print("Coeficiente:\t", model.coef_)
print("Intercepto:\t", model.intercept_)

Coeficiente:	 [-1.15353206e+02  5.30769846e-01  1.50210429e+04  4.58754242e+03
  3.73064602e+02  1.96281733e+02  1.56385148e+01 -7.27626200e-01
  2.27468896e+00  1.71855775e+01  1.75673360e+01  1.69697975e+01
 -1.00733996e+01  2.44637339e+01  3.98226466e+03 -5.81478533e+03
  6.50644437e+02  2.25940831e+02 -1.14665756e+04 -2.12871540e+04
  8.33356583e+03  4.82343971e+03  1.76238065e+03  3.64581017e+01
  8.72322270e+00  2.65901526e+00  1.17380326e+01  1.50070797e+01
  5.18135123e+01 -4.83737278e+01 -4.98968257e+00 -1.00665205e+02
 -1.96257607e+02]
Intercepto:	 -782505.7033265007

Vamos testar o desempenho do modelo em cima do nosso conjunto de testes. Para isso, vou colocar a variável X_test como argumento do `ml_model.predict()`, salvar as previsões e verificar o desempenho em cima das métricas já apresentadas.

In [16]:
# verificar desempenho do modelo
print("R2 Score:\t", r2_score(y_test, y_pred))
print("MAE:\t\t", mean_absolute_error(y_test, y_pred))
print("MSE:\t\t", mean_squared_error(y_test, y_pred))

R2 Score:	 0.7161101710784981
MAE:		 23993.974537368955
MSE:		 2311078700.74303

Veja como todas as métricas avaliadas tiveram uma melhora significativa. Uma vez que o modelo tinha à disposição mais features para treinar, conseguiu se tornar mais preciso também.